

/* ============= Sidebar Menu ================*/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 270px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left:60px;
    font-size: 20px;
    line-height: 1.4;
     
}

/* Navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black; /*color of text on sidebar*/
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
/* Style page content */
.main {
    margin-left: 330px; /* The width of the sidebar */
    padding: 0px 10px;
}
h2{
	font-size: 40px;
	color: black;
	
}
h4{
	font-size: 30px;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* =================Style Header & icon buttons ================*/

.btn {
    background-color: white; /* Blue background */
    border: none; 
    color: black; 
    font-size: 30px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    padding-right:10px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: lightgray;
}
.w3-left{float:left!important}.w3-right{float:right!important}


/*=============Search Bar====================*/
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 4px;
    float: left;
    width: 80%;
    background: white;
    color: black;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: none;
    color: black;
    font-size: 30px;
    border: none;
    border-left: none;
    cursor: pointer;
}

/*=============Login Form====================*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.iconbutton {
    background-color: lightgray;
    color: black;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 8%;
    font-size: 30px;
    float:right;
    text-align: center;
}

.iconbutton:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 15%;
    border-radius: 50%;
}

.logincontainer {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*================Image Header====================*/
* {
    box-sizing: border-box;
}
.container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    text-align: left;
}

.container img {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: white;
    width: 100%;
    padding: 10px;
}
h3{
	color: white;
	font-size: 35px; 
}
.shopbtn{
	background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    font-family: Arial;
}
/*=============Book Gallery=========*/
.row {
    margin: 8px -16px;
}
/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}
/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Content */
.bookcontent {
    background-color: lightgray;
    padding: 10px;
}
h5{
	font-size: 20px;
	padding: none;
}
/*====Buy now button=====*/
.buycontainer {
    position: relative;

}
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.buycontainer:hover .image {
  opacity: 0.5;
}
.buycontainer:hover .middle {
  opacity: 1;
}
.buybtn {
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 18px;
  border:none;
}


/*other*/
h1{
    font-family: Arial;
    font-size: 18px;

}

p{
    font-family: Arial;
    font-size: 12px;
}

.header{
    background-color: lightgray;
      padding: 14px 10px;
}


/*footer*/
.footer {
    font-family: Arial;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #e5e7e9 ;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;


}

.defaultbtn{
    background-color: black;
    font-size: 14px;
    font-family: Arial;
    color:white;
    padding: 3px 5px

}


/*Credit Card Form*/
.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: lightgray;
    font-family: arial;
    color: black;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}
